/** {
	table-align: center;
	text-align: center;
}*/


p {
	line-height: 0.6;
}

body {
    color: white;
    background-color: hsl(0, 0%, 7%);
	overflow: hidden;
	font-size: 14px;
	margin: 0px;
	user-select: none;
    font-family: 'Roboto Mono', monospace
}

table, tr {
    display: flex;
    justify-content: center;
}

button {
    border: solid 2px white;
    background-color: #171717;
	color: white;
    font-size: 14px;
	cursor: pointer;
	transition-property: background-color, border, transform, box-shadow;
	transition-duration: 0.15s;
}

.line {
	content: '';
	display: block;
	width: 100%;
	margin-top: 6px;
	height: 6px;
	border-top: solid 2px white;
}

.main-line {
	width: 100%;
	border-bottom: solid 2px white;
	height: 5px;
	margin-bottom: 13px;
}

#notify {
	z-index: 3;
	position: fixed;
    left: 50%;
    top: 20px;
	transform: translate(-50%, 0);
	width: 400px;
	min-height: 10px;
	color: white;
	border: solid 2px white;
	background-color: #171717;
	padding: 7px 25px;
	transition-duration: 0.75s;
}

#notify.hide {
	opacity: 0;
	top: -130px;
}



.soft {
	color: hsl(237, 15%, 47%);
	font-weight: bold;
	text-shadow: 0px 1px 0px hsl(252, 19%, 57%);
	pointer-events: none;
}

/*.stab_btn .btn_tab {
	min-height: 40px;
	font-size: 12px;
}*/

.img_btn {
	cursor: pointer;
	background-color: #444;
	transition-duration: 0.15s;
}

.light_red {
	color: lightcoral;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;
}

.green {
	color: #00bb00;
}

.light_green {
	color: lightgreen;
}

.sky {
	color: skyblue;
}

.cyan {
	color: #07f;
}

.magenta {
	color: magenta;
}

.gray {
	color: gray
}


#openTabTerminal {
	position: absolute;
	left: 70%;
	width: 30%;
	height: 7%;
}
#tab_terminal {
	position: fixed;
	width: 40%;
	height: 100%;
}
#wipedata {
	position: absolute;
	left: 40%;
	width: 20%;
	height: 6.66%;
}





.txt_area {
	font-size: 12px;
}


#resources_table {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 5px 0px;
	padding-top: 40px;
}

.resources {
	display: flex;
	justify-content: start;
	align-items: center;
	min-width: 300px;
}

.top_text {
	font-size: 14px;
}

.res_img {
	width: 30px;
	height: 30px;
}

.btn_tab {
	width: calc(100% - 5px);
	min-height: 40px;
}






.btn {
	cursor: pointer;
	background-color: #444;
	font-size: 12px;
	max-width: 250px;
	padding: 7px 25px;
	text-decoration: none;
}

.btn.full {
	width: 250px;
	height: 120px;
}

.btn.half_full {
	width: 250px;
	min-height: 60px;
}

.btn.locked,
.img_btn.locked{
	background-color: #171717;
	cursor: default;
}

.img_btn {
	cursor: pointer;
	background-color: #444;
}

h1 {
    display: inline;
	font-weight: normal;
    font-size: 35px;
}

h2 {
	display: inline;
	font-weight: normal;
    font-size: 25px;
}

h3 {
	display: inline;
	font-weight: bold;
    font-size: 20px;
}

h4 {
	display: inline;
	font-weight: bold;
    font-size: 18px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #0000;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.table_left {
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
}

.table_space_evenly {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.btn.b_btn {
	font-size: 11px;
}

.btn.rad {
	width: 200px;
	height: 60px;
	margin: 0px 3px;
}

.sub_rad {
	margin: 0px 15px
}

.primordium {
	width: 100%;
	align-items: center;
}

.primordium > div {
	text-align: left;
}

#omega_badge {
    transition-duration: 0.25s;
    cursor: pointer;
}

#omega_badge:hover {
    transform: rotate(20deg) scale(1.3);
}

.en_reward_div {
	margin: 3px;
	font-size: 14px;
}

.en_reward {
	width: 300px;
	height: 100px;
	background-color: #222;
	border: solid 3px #444;
	margin: 3px;
	padding: 3px;

	font-size: 12px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.en_sub_reward {
	font-size: 12px;
}

.matter_div {
	width: calc(33.3% - 10px);
	min-width: 400px;
	height: 200px;
	padding: 10px 5px;
}

.matter_title {
	font-size: 20px;
}

.matter_div.final {
	background-color: rgb(255,0,0,.133);
	animation: final_star_animation 10s linear infinite;
}

.matter_div.final > span:not(#FSS_scale) {
	font-size: 12px;
}

#popups {
	z-index: 3;
	width: 100%;
	height: 100%;
	position: fixed;
	pointer-events: none;
}

.popup {
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	color: white;
	border: solid 2px white;
	background-color: #171717;
	padding: 7px 25px;
	pointer-events: auto;
	max-width: 600px; max-height: 400px;
}

.popup > input {
	width: 300px;
	margin-bottom: 10px;
}

.pos_center {
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* Revamped */

/*#tabs {
	width: 196px;
	height: 100%;
	overflow-y: auto;
	border-right: solid 2px white;
}

#tabs > div {
	width: 100%;
}

#tabs .btn_tab {
	width: 100%;
	height: 50px;
	position: relative;
	overflow: hidden;
}

#tabs .btn_tab > div {
	width: 170px;
	font-size: 16px;
	text-align: left;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

#tabs .btn_tab > iconify-icon {
	opacity: 0.1;
	position: absolute;
	bottom: -20px;
	right: 5px;
	transition: transform 0.25s;
	transform: rotate(-15deg);
}

#tabs .btn_tab:hover > iconify-icon,
#tabs .btn_tab.choosed > iconify-icon {
	transform: scale(1.3) rotate(-25deg);
}

#tabs .btn_tab.choosed {
	border-left-width: 10px;
	border-bottom-width: 2px;
}

.btn_tab.choosed {
	border-bottom-width: 6px;
}*/

#resources_table {
	width: 246px;
	height: 100%;
	overflow-y: auto;
}

#resources_table > div {
	display: flex;
	align-items: end;
	margin: 3px;
	width: calc(100% - 6px);
	height: 45px;
}

#resources_table > div > div {
	display: flex;
	justify-content: end;
	align-items: end;
	width: 100%;
}

#resources_table > div > div > span {
	font-size: 12px;
}

.upgrade {
	font-size: 14px;
}




@keyframes final_star_animation {
	100%,0%{
		background-color: rgb(255,0,0,.133);
	}
	8%{
		background-color: rgb(255,127,0,.133);
	}
	16%{
		background-color: rgb(255,255,0,.133);
	}
	25%{
		background-color: rgb(127,255,0,.133);
	}
	33%{
		background-color: rgb(0,255,0,.133);
	}
	41%{
		background-color: rgb(0,255,127,.133);
	}
	50%{
		background-color: rgb(0,255,255,.133);
	}
	58%{
		background-color: rgb(0,127,255,.133);
	}
	66%{
		background-color: rgb(0,0,255,.133);
	}
	75%{
		background-color: rgb(127,0,255,.133);
	}
	83%{
		background-color: rgb(255,0,255,.133);
	}
	91%{
		background-color: rgb(255,0,127,.133);
	}
}